.coverage
usr/share/doc/weebl/changelog.Debian.gz
usr/share/doc/weebl/changelog.gz
usr/share/doc/weebl/weebl.html
data/*
*~
__pycache__/
*.pyc
node_modules/
*.orig
weebl/oilserver/static/admin/
weebl/oilserver/static/tastypie_swagger/
**/*.py[cod]
**/__pycache__/
tags
build
dist
weebl.egg-info/
*.swp
