{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="http://assets.ubuntu.com/sites/guidelines/css/latest/ubuntu-styles.css"/>
        <title>{% block page_title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Banner -->
        <header class="banner global" role="banner" id="banner">
            <div class="logo">
                <a href='/'>
                    <img src='{% static "oilserver/ubuntu_openstack_interoperability_lab.png" %}'/>
                </a>                
                {% block user_info %}{% endblock %}
            </div>
            {% include "base_user.html" %}
        </header>

        <main id="body">

            <div id="main-content" class="row no-border">

                <!-- Stats -->
                <div class="header banner">
                    {% include "base_status_bar.html" %} 
                </div>

                <!-- Filters -->
                <div class="two-col one-col">
                    {% block filters %} {% endblock %}
                </div>
                
                <div class="nine-col">
                    {% block main %}{% endblock %}
                </div>
                
            </div>
        </main>


        <!-- Footer -->
        <div class="footer-wrapper">
            <footer class="global inner-wrapper clearfix">
                <div class="legal clearfix">
                    <div class="legal-inner">
                        {% block footer-copyright %}
                        <p class="twelve-col">
                            <p class="version">OIL Version <a href="/">View documentation</a></p>
                            <p class="version">Doberman Version <a href="/">View documentation</a></p>
                            <p class="version">Weebl Version <a href="/">View documentation</a></p>
                        </p>
                        <p class="twelve-col copy">&copy; 2015 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
                        {% endblock %}
                    </div>
                </div>
            </footer>
        </div>

    </body>
</html>
