{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="http://assets.ubuntu.com/sites/guidelines/css/latest/ubuntu-styles.css"/>
        <title>{% block page_title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Banner -->
        <header class="banner global" role="banner" id="banner">
            <div class="logo">
                <a href='/'>
                    <img src='{% static "oilserver/ubuntu_openstack_interoperability_lab.png" %}'/>
                </a>
                {% block user_info %}{% endblock %}
            </div>
        </header>

        <main id="body">

            <div id="main-content" class="row no-border">

                <!-- Stats -->
                <div class="header banner">
                    {% include "base_status_bar.html" %} 
                </div>

                <!-- Filters -->
                <div class="two-col one-col">
                    {% block filters %} {% endblock %}
                </div>
                
                <div class="nine-col last-col">
                    {% block main %}{% endblock %}
                </div>
                
            </div>
        </main>


        <!-- Footer -->
        <div class="footer-wrapper">
        </div>

    </body>
</html>
