{% for key, environment in env.items %} 
    {% if environment.state_description %} 
        <div class="inner-wrapper" id="content" style="border:1px solid {{ environment.state_colour }};">
            <h3>Situation report for {{ environment.name }}:</h3>
            <div class="logo">                  
                    <ul>
                        {% for msg in environment.state_description %}
                            <li>
                                {{ msg }}
                                {% if environment.state_description|length != forloop.counter %},
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    {% endif %} 
{% endfor %}
