
{% for key, environment in environments.items %}
    <div id='main_content' class='main_content'>
        <h2>{{ environment.name }}:</h2>
        <p>OIL is: {{ environment.oil_state }} </p>
        <p>Overall success rate: {{ environment.success_rate }} </p>
        <p>Pipeline_deploy success rate: {{ environment.pipeline_deploy }} </p>
        <p>Pipeline_prepare success rate: {{ environment.pipeline_prepare }} </p>
        <p>Test_tempest_smoke success rate: {{ environment.test_tempest_smoke }}</p>
        <p>Last updated: {{ environment.timestamp }}</p>
        <hr/>
    </div>
{% endfor %}
