
{% for key, environment in env.items %}
    <div id='main_content' class='main_content'>
        <p></p>
        <h2>Top ten {{ job }} {{ environment.name }} bugs ({{ time_range }}):</h2>   
        <p></p>          
        {% for job, rank in environment.tframe.rankings.items %}

            <h3><a href="/job/{{ job }}/{{ time_range }}/{{ environment.name }}">{{ job }} bugs</a>:</h3>
            
            <table border="1">
                <tr>
                    <td>Bug ID</td>
                    <td>Number of hits</td>
                    <td> assignee </td>
                    <td> age_days </td>
                    <td> title </td>
                    <td> importance </td>
                    <td> status </td>
                </tr>
                {% for bug_id, hits, lp_link, assignee, age_days, bug_title, importance, status in rank %}
                <tr>
                    <td><a href="{{ lp_link }}">{{ bug_id }}</a></td>
                    <td>{{ hits }}</td>
                    <td>{{ assignee }}</td>
                    <td>{{ age_days }}</td>
                    <td>{{ bug_title }}</td> 
                    <td>{{ importance }}</td>
                    <td>{{ status }}</td>
                </tr>
                {% endfor %}
            </table>
            <p></p>
            <p></p>

        {% endfor %}
        <hr/>
    </div>
{% endfor %}
