
<div class="inner-wrapper" id="content">
<h2>Breakdown by category:</h2>
    
    <div>
        <table border="1">
            <tr>
                <td><h3>Category</h3></td>
                <td><h3>Number</h3></td>
            </tr>
            {% for category, bug_count in breakdown.items %}
            <tr>
                <td>{{ category }}</td>
                <td>{{ bug_count }}</td>
            </tr>
            {% endfor %} 
        </table> 
       
        <p></p>
        <p></p>
    </div>
</div>
