{% load staticfiles %}
<!-- Oil Stats -->
 <div class="tabbed-menu" id="inner-wrapper">
    <ul>
        <li><small>Environment:</small></li>
        <li><small>OIL state:</small></li>
        <li><small>Success rate:</small></li>
        <li><small>Pipeline_deploy:</small></li>
        <li><small>Pipeline_prepare:</small></li>
        <li><small>Test_tempest_smoke:</small></li>
        <li><small></small></li>
    </ul>
    {% for key, environment in env.items %}   
    <ul>
        <li><a href="{% static '/environment/' %}{{ environment.uuid }}/" title="{{ environment.uuid }}">{{ environment.name }}</a></li>
        <li><span style="color:{{ environment.state_colour }}" 
                  title="{% for msg in environment.state_description %}{{ msg }}{% if environment.state_description|length != forloop.counter %},{% endif %}{% endfor %}">
            {{ environment.state }}
        </span></li>
        <li><span style="color:{{ environment.tframe.overall_colour }}">{{ environment.tframe.success_rate }}% </span></li>
        <li><span style="color:{{ environment.tframe.job_success_rate_col.pipeline_deploy }}">{{ environment.tframe.job_success_rates.pipeline_deploy }}% </span></li>
        <li><span style="color:{{ environment.tframe.job_success_rate_col.pipeline_prepare }}">{{ environment.tframe.job_success_rates.pipeline_prepare }}% </span></li>
        <li><span style="color:{{ environment.tframe.job_success_rate_col.test_tempest_smoke }}">{{ environment.tframe.job_success_rates.test_tempest_smoke }}% </span></li>
        <li></li>
    </ul>
    {% endfor %}
</div>
