
{% for key, environment in env.items %}
    <div id='main_content' class='main_content'>
        <h2>All {{ job }} {{ environment.name }} bugs ({{ time_range }}):</h2>                
        {% for jobname, rank in environment.tframe.rankings.items %}         
            {% if jobname == job %}                   
            
            <table border="1">
                <tr>
                    <td>Bug ID</td>
                    <td>Number of hits</td>
                    <td> assignee </td>
                    <td> age_days </td>
                    <td> title </td>
                    <td> importance </td>
                    <td> status </td>
                </tr>
                {% for bug_id, hits, lp_link, assignee, age_days, bug_title, importance, status in rank %}
                <tr>
                    <td><a href="{{ lp_link }}">{{ bug_id }}</a></td>
                    <td>{{ hits }}</td>
                    <td>{{ assignee }}</td>
                    <td>{{ age_days }}</td>
                    <td>{{ bug_title }}</td> 
                    <td>{{ importance }}</td>
                    <td>{{ status }}</td>
                </tr>
                {% endfor %}
            </table> 
            {% endif %}
        {% endfor %}
        <hr/>
    </div>
{% endfor %}
