{% load staticfiles %}  
<table>
    <tr>
        <td></td>
        <td><h4>Bug</h4></td>
        <td><h4>Summary</h4></td>
        <td><h4>Category</h4></td>
        <td><h4>Prevalence</h4></td>
        <td><h4>Importance</h4></td>
        <td><h4>Status</h4></td>
        <td><h4>First Hit (days)</h4></td>
        <td><h4>Last Hit (days)</h4></td>
        <td><h4>Assignee</h4></td>
        <td><h4>All Tags</h4></td>
    </tr>
    {% for bug, lp_link, hits, lp_link, bug_title, assignee, age_days, cats, importance, status, date_assigned, all_tags, category in rank %}
    <tr>
        <td><img src='{% static "oilserver/button-closed.png" %}'/></td>
        {% if lp_link %}
            <td><a href="{{ lp_link }}">{{ bug }}</a></td>
        {% else %}
            <td>{{ bug }}</td>
        {% endif %}
        <td>{{ bug_title }}</td>
        <td>{% for cat in category %}{{ cat }}{% if cat|length > 1 %},{% endif %} {% endfor  %}</td>
        <td>{{ hits }} hits</td>
        <td>{{ importance }}</td>
        <td>{{ status }}</td>
        <td>{{ age_days }}</td>
        <!-- 
        TODO: age_days != "First Hit" - this is just a placeholder until the DB is implemented 
        -->
        <td><!-- TODO: last hit --></td>
        <td>{{ assignee }}</td>
        <td>{% for tag in all_tags %}{{ tag }}{% if all_tags|length > 1 %},{% endif %} {% endfor  %}</td>
    </tr>
    {% endfor %}
</table> 
