{% for key, environment in env.items %}
    <h2>{{ environment.name }} <small>UUID: {{ environment.uuid }}</small></h2>

    <!-- Jenkins -->
    <div class="inner-wrapper" id="content">
        <h3>Jenkins instance attached to {{ environment.name }}:</h3>
        <div class="logo">
            {% if jenkins %}
                    <ul>
                        <li>UUID: {{ jenkins.uuid }}</li>
                        <li>External access URL: <a href="{{ jenkins.external_access_url }}">{{ jenkins.external_access_url }}</a></li>
                        <li>Internal access URL: <a href="{{ jenkins.internal_access_url }}">{{ jenkins.internal_access_url }}</a></li>
                        <li>Last check-in time: {{ jenkins.service_status_updated_at }}</li>
                        </ul>
                    </ul>
            {% else %}
                <p>There is not a Jenkins registered to this environment</p>
            {% endif %}
        </div>
    </div>

    <!-- Build Executors -->
    <div class="inner-wrapper" id="content">
        <h3>Build executors within {{ environment.name }}:</h3>
        <div class="logo">
            {% if build_executors %}
                    <ul>
                        {% for build_executor in build_executors %}
                        <li>{{ build_executor.name }}</li>
                        <ul>
                            <li>{{ build_executor.uuid }}</li>
                        </ul>
                        </br>
                        {% endfor %}
                    </ul>
            {% else %}
                <p>No build executors registered to this environment</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
