{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href='{% static "oilserver/ubuntu.css" %}' rel="stylesheet" type="text/css">
        <title>{% block page_title %}{% endblock %}</title>
    </head>

    <body>

        <div id='title'>
            <div class='topbar'>
                <div style="width:600px;margin-left:25px;margin-top:11px;display:block;float:left;">
                    <a href='/'>
                        <img src='{% static "oilserver/ubuntu_openstack_interoperability_lab.png" %}'/>
                    </a>
                </div>
                <div class='user_info'>
                    <h1>{% block title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
        
        <div id='main_content' class='main_content'>
            <table>  
                    <tr>
                        <td><small>Environment:</small></td>
                        <td><small>OIL state:</small></td>
                        <td><small>Success rate:</small></td>
                        <td><small>Pipeline_deploy:</small></td>
                        <td><small>Pipeline_prepare:</small></td>
                        <td><small>Test_tempest_smoke:</small></td>
                    </tr>                                  
                {% for key, environment in env.items %}
                    <tr>
                        <td>{{ environment.name }}</td>
                        <td><span style="color:{{ environment.oil_state_colour }}">{{ environment.oil_state }}</span></td>
                        <td><span style="color:{{ environment.tframe.overall_colour }}">{{ environment.tframe.success_rate }}% </span></td>
                        <td><span style="color:{{ environment.tframe.job_success_rate_col.pipeline_deploy }}">{{ environment.tframe.job_success_rates.pipeline_deploy }}% </span></td>
                        <td><span style="color:{{ environment.tframe.job_success_rate_col.pipeline_prepare }}">{{ environment.tframe.job_success_rates.pipeline_prepare }}% </span></td>
                        <td><span style="color:{{ environment.tframe.job_success_rate_col.test_tempest_smoke }}">{{ environment.tframe.job_success_rates.test_tempest_smoke }}% </span></td>
                    </tr>    
                {% endfor %}
                </table>
                <br />
        </div>

        {% block main %}
        {% endblock %}

    </body>
</html>
