<!DOCTYPE html>
<html class="no-js" lang="en" data-ng-app="stats">
<head>
    <base href="{% url 'index' %}">
    <title data-ng-bind="title + ' | ' + site + ' weebl'"></title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="author" content="Canonical" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />

    {% include "css-conf.html" %}
    {% include "js-conf.html" %}
</head>
<body data-ng-init="site = 'OIL'">
    <div class="wrapper maas-wrapper">
        <header class="banner global fixed" role="banner">
            <nav role="navigation" class="nav-primary nav-right">
                <div class="logo">
                    <a class="logo-ubuntu" href="{% url 'index' %}">
                        <img width="110" height"10" src="{{ STATIC_URL }}img/logos/logo.svg" alt="OIL" />
                    </a>
                </div>
                <ul id="main-nav" class="nav">
                    <li>
                        <a data-ng-class="{ active: page === 'stats' }" href="{% url 'index' %}">Stats</a>
                    </li>
                    <li>
                        <a data-ng-class="{ active: page === 'bugs' }" href="{% url 'index' %}">Bugs</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul id="right-nav" class="nav">
                    <li id="user-link">
                        <a href="">
                            <img src="{{ STATIC_URL }}img/icons/user_dark.png" alt="" class="normal">
                            <img src="{{ STATIC_URL }}img/icons/user_light.png" alt="" class="hover">
                            {{ user.username }}
                        </a>
                        <ul class="nav" id="user-options">
                            <li>
                                <a data-ng-class="{ active: page == 'account' }" href="{% url 'prefs' %}">Account</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </nav>
            <div class="nav-toggles">
                <a href="#canonlist" class="nav-toggle open"></a>
                <a href="#" class="nav-toggle close"></a>
            </div>
        </header>
        <main id="body">
            <div id="main-content" data-maas-error-overlay>
            <div id="content" class="six-col" data-ng-view>
                {% verbatim %}
                <div data-ng-controller="statsController as stats">
                    I have {{ stats.count }} builds.
                </div>
                {% endverbatim %}
            </div>
            </div>
        </main>
    </div>
    <div class="footer-wrapper" data-maas-error-toggle>
        <footer class="global inner-wrapper clearfix">
            <div class="legal clearfix">
                <div class="legal-inner">
                    <p class="twelve-col copy">&copy; 2015 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
