<!DOCTYPE html>
<html class="no-js" lang="en" data-ng-app="weebl">
<head>
    <base href="{% url 'index' %}">
    <title data-ng-bind="title + ' | ' + site + ' weebl'"></title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="author" content="Canonical" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />

    {% include "css-conf.html" %}
    {% include "js-conf.html" %}
</head>
<body data-ng-init="site = 'OIL'">
    <div class="wrapper maas-wrapper">
        <header class="banner global fixed" role="banner">
            <nav role="navigation" class="nav-primary nav-right">
                <div class="logo">
                    <a class="logo-ubuntu" href="{% url 'index' %}">
                        <img width="110" height"10" src="{{ STATIC_URL }}img/logos/logo.svg" alt="OIL" />
                    </a>
                </div>
                <ul id="main-nav" class="nav">
                </ul>
                {% if user.is_authenticated %}
                <ul id="right-nav" class="nav">
                    <li id="user-link">
                        <a href="">
                            <img src="{{ STATIC_URL }}img/icons/user_dark.png" alt="" class="normal">
                            <img src="{{ STATIC_URL }}img/icons/user_light.png" alt="" class="hover">
                            {{ user.username }}
                        </a>
                        <ul class="nav" id="user-options">
                            <li>
                                <a data-ng-class="{ active: page == 'account' }" href="{% url 'prefs' %}">Account</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </nav>
            <div class="nav-toggles">
                <a href="#canonlist" class="nav-toggle open"></a>
                <a href="#" class="nav-toggle close"></a>
            </div>
        </header>
        <main id="body">
        <div data-ng-controller="buildsController as builds">
            <header class="page-header margin-bottom" data-maas-sticky-header>
            <div class="inner-wrapper">
                <h1 class="page-header__title">{$ $parent.site $}
                <span class="page-header__title--identicator" id="bulk-actions">
                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <a href=""
                        data-ng-class="{ active: currentpage === 'builds' }"
                        data-ng-click="toggleTab('builds')">Builds</a>
                    <span class="divide"></span>
                    <a href=""
                        data-ng-class="{ active: currentpage === 'bugs' }"
                        data-ng-click="toggleTab('bugs')">Bugs</a>
                    <span class="power-status--power" data-ng-show="loading">
                        <span class="loader"></span>
                        Loading...
                    </span>
                </span>
            </div>
            </header>
            <div class="inner-wrapper">
            <div class="accordion three-col maas-accordion">
                <h3 class="accordion__title">Filter by</h3>
                <div class="ng-hide accordion__tab" data-ng-show="2">
                    <h4 class="accordion__tab-title maas-accordion-tab active">Date</h4>
                    <div class="accordion__tab-content">
                        <ul class="accordion__tab-list">
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('date', 'Last 24 Hours', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('date', 'Last 24 Hours', 'builds')">Last 24 Hours</a>
                            </li>
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('date', 'Last 7 Days', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('date', 'Last 7 Days', 'builds')">Last 7 Days</a>
                            </li>
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('date', 'Last 30 Days', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('date', 'Last 30 Days', 'builds')">Last 30 Days</a>
                            </li>
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('date', 'Last Year', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('date', 'Last Year', 'builds')">Last Year</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ng-hide accordion__tab" data-ng-show="3">
                    <h4 class="accordion__tab-title maas-accordion-tab">OpenStack Release</h4>
                    <div class="accordion__tab-content">
                        <ul class="accordion__tab-list">
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('openstack', 'Icehouse', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('openstack', 'Icehouse', 'builds')">Icehouse</a>
                            </li>
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('openstack', 'Juno', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('openstack', 'Juno', 'builds')">Juno</a>
                            </li>
                            <li class="accordion__tab-item" data-ng-class="{ active: isFilterActive('openstack', 'Kilo', 'builds') }">
                                <a class="accordion__tab-link" href="" data-ng-click="updateFilter('openstack', 'Kilo', 'builds')">Kilo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-content" data-maas-error-overlay>
            <div id="content" class="six-col" data-ng-view>
                <div data-ng-show="currentpage === 'builds'">
                    <p>I have {$ builds.pipeline_count $} pipelines...</p>
                    <p>I have {$ builds.pass_deploy_count $} successful pipeline deploys...</p>
                    <p>I have {$ builds.pass_prepare_count $} successful pipeline prepares...</p>
                    <p>I have {$ builds.pass_test_cloud_image_count $} successful guest OS tests...</p>
                </div>
                <div data-ng-show="currentpage === 'bugs'">
                    <p>I have {$ bugs.count $} bugs...</p>
                    <!------------------------------------------------>
                    <table>
                        <thead>
                        <tr>
                            <th>UUID</th>
                            <th>summary</th>
                            <th>description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bug in bugs.objects">
                            <td>{$ bug.uuid $}</td>
                            <td>{$ bug.summary $}</td>
                            <td>{$ bug.description $}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
        </div>
        </main>
    </div>
    <div class="footer-wrapper" data-maas-error-toggle>
        <footer class="global inner-wrapper clearfix">
            <div class="legal clearfix">
                <div class="legal-inner">
                    <p class="twelve-col copy">&copy; 2015 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
