<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/jquery/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/angular.js/angular.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/angular.js/angular-route.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/angular.js/angular-cookies.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/angular.js/angular-resource.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/node_modules/d3/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/node_modules/nvd3/build/nv.d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
<script type="text/javascript">
<!--
var YUI_config = {
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %},
    combine: true,
    filter: {% if YUI_DEBUG %}'raw'{% else %}'min'{% endif %},
    root: '',
    base: '{{STATIC_URL}}',
    comboBase: '{{STATIC_URL}}',
};
var WEEBL_config = {
    uris: {
        statics: '{{ STATIC_URL }}',
        },
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %}
};
// -->
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/jslibs/yui3/yui-base/yui-base-min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/weebl.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/config.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/stats.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/builds_retriever.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bugs_retriever.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/metadata_retriever.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/accordion.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/search.js"></script>
