<div>
    <p>I have {$ bugs.count $} matching bugs...</p>
    <!------------------------------------------------>
    <table>
        <thead>
        <tr>
            <th>UUID</th>
            <th>summary</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bug in bugs.objects">
            <td><span data-ng-bind="bug.uuid"></span></td>
            <td><span data-ng-bind="bug.summary"></td>
            <td><span data-ng-bind="bug.description"></td>
        </tr>
        </tbody>
    </table>
</div>
