Source: weebl
Section: devel
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Darren Hoyland <darren.hoyland@canonical.com>
Build-Depends: debhelper (>= 8.0.0),
 python-all (>= 2.6.6-3~), 
 python-setuptools,
 python-bzrlib,
 python-testtools
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
 

Package: python-weebl
Architecture: all
Section: python
Depends: 
 python3 (>= 3.4.0), 
 python3-django (>= 1.7.0), 
 postgresql-9.4,
 python3-django-tastypie,
 python3-yaml,
 python3-mimeparse,
 python3-dateutil,
 python3-requests,
 python3-psycopg2, 
 debconf, 
 python-flup,
 lighttpd
Description: WebApp for OIL
 Weebl is a django-powered webapp for displaying information produced 
 by Canonical's Openstack Interoperability Lab.
 This package provides the weebl python library.


