.maas-accordion {
    margin-bottom: 120px;
}

.table-listing {
    margin-bottom: 120px;
}

a.external {
    background: url(/static/img/external-link-orange.svg) center right no-repeat;
    background-size: 0.7em 0.7em;
    padding-right: 13px;
    background-position: 100% top;
}
