
{% for key, environment in environments.items %}
    <div id='main_content' class='main_content'>
        <p></p>
        <h2>Top ten {{ environment.name }} bugs:</h2>
        <p></p>
        {% for job, rank in environment.rankings.items %}

            <h3><a href="/job/{{ job }}">{{ job }} bugs</a>:</h3>
            <table border="1">
                <tr>
                    <td>Bug ID</td>
                    <td>Number of hits</td>
                </tr>
                {% for bug_id, hits in rank %}
                <tr>
                    <td>{{bug_id}}</td>
                    <td>{{hits}}</td>
                </tr>
                {% endfor %}
            </table>
            <p></p>
            <p></p>

        {% endfor %}
        <hr/>
    </div>
{% endfor %}
