<html>
    <head>
    <title>{{ title }}</title>
    </head>

    <body>
        {{ title }}
        <hr/>
        
        {% for key, environment in environments.items %}
            <div>
                <h2>{{ environment.name }}:</h2>
                <p>OIL is: {{ environment.oil_state }} </p>
                <p>Overall success rate: {{ environment.success_rate |floatformat:"2" }}% </p>
                <p>Deploy success rate: {{ environment.deploy |floatformat:"2" }}% </p>
                <p>Prepare success rate: {{ environment.prepare |floatformat:"2" }}% </p>
                <p>Tempest success rate: {{ environment.tempest |floatformat:"2" }}%</p>
                <p>Last updated: {{ environment.timestamp }}</p>
                <hr/>
            </div>
        {% endfor %}
        
        <div>
            <h2>Breakdown by category:</h2>
            <p> [Nothing to see here - move along] </p>
            <hr/>
        </div>
        
        
        
        {% for key, environment in environments.items %}
            <div>
                <h2>Top ten {{ environment.name }} bugs:</h2>                
                {% for job, rank in environment.rankings.items %}                   
                    
                    <h3>{{ job }} bugs:</h3>
                    <table border="1">
                        <tr>
                            <td>Bug ID</td>
                            <td>pipeline_start</td>
                            <td>pipeline_deploy</td>
                            <td>Number of hits</td>
                        </tr>
                        {% for bug_id, value in rank.items %}
                        <tr>
                            <td>{{bug_id}}</td>
                            <td>{{value.pipeline_start}}</td>
                            <td>{{value.pipeline_deploy}}</td>
                            <td>{{value.hits}}</td>
                        </tr>
                        {% endfor %}
                        
                    </table>  
                    
                    
                {% endfor %}
                <hr/>
            </div>
        {% endfor %}

        
    </body>
</html>
